* {
  margin: 0;
  padding: 0;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.box {
  position: relative;
  top: 500px;
  width: 1px;
  height: 1px;
  margin: 0 auto;
  border: 1px solid #f00;
}
.box span:nth-child(2), .box span:nth-child(3), .box span:nth-child(4), .box span:nth-child(5), .box span:nth-child(6), .box span:nth-child(11), .box span:nth-child(14), .box span:nth-child(15), .box span:nth-child(16), .box span:nth-child(18), .box span:nth-child(24), .box span:nth-child(30) {
  width: 10px;
  height: 10px;
  border: 1px solid #f00;
}
.box span:nth-child(12), .box span:nth-child(13), .box span:nth-child(20), .box span:nth-child(21), .box span:nth-child(25), .box span:nth-child(26), .box span:nth-child(28) {
  width: 4px;
  height: 4px;
  border: 1px solid #abc;
}
.box span:nth-child(1), .box span:nth-child(7), .box span:nth-child(8), .box span:nth-child(9), .box span:nth-child(10), .box span:nth-child(17), .box span:nth-child(19), .box span:nth-child(22), .box span:nth-child(23), .box span:nth-child(27), .box span:nth-child(29) {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
}
.box span {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.box span:nth-child(1) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -4.51734s, -5.37766s;
          animation-delay: -4.51734s, -5.37766s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-3;
          animation-name: ani1,ani2-3;
}
.box span:nth-child(2) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.89649s, -5.53575s;
          animation-delay: -3.89649s, -5.53575s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-1;
          animation-name: ani1,ani2-1;
}
.box span:nth-child(3) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.01691s, -6.18371s;
          animation-delay: -3.01691s, -6.18371s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-1;
          animation-name: ani1,ani2-1;
}
.box span:nth-child(4) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -4.15752s, -7.21005s;
          animation-delay: -4.15752s, -7.21005s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-1;
          animation-name: ani1,ani2-1;
}
.box span:nth-child(5) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -4.72638s, -4.32766s;
          animation-delay: -4.72638s, -4.32766s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-1;
          animation-name: ani1,ani2-1;
}
.box span:nth-child(6) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -5.37456s, -5.32852s;
          animation-delay: -5.37456s, -5.32852s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-1;
          animation-name: ani1,ani2-1;
}
.box span:nth-child(7) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -4.44381s, -7.55239s;
          animation-delay: -4.44381s, -7.55239s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-3;
          animation-name: ani1,ani2-3;
}
.box span:nth-child(8) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.60234s, -4.59017s;
          animation-delay: -3.60234s, -4.59017s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-3;
          animation-name: ani1,ani2-3;
}
.box span:nth-child(9) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.50839s, -6.73726s;
          animation-delay: -3.50839s, -6.73726s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-3;
          animation-name: ani1,ani2-3;
}
.box span:nth-child(10) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.06977s, -5.86788s;
          animation-delay: -3.06977s, -5.86788s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-3;
          animation-name: ani1,ani2-3;
}
.box span:nth-child(11) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -4.69002s, -5.78433s;
          animation-delay: -4.69002s, -5.78433s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-1;
          animation-name: ani1,ani2-1;
}
.box span:nth-child(12) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.96572s, -6.60608s;
          animation-delay: -3.96572s, -6.60608s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-2;
          animation-name: ani1,ani2-2;
}
.box span:nth-child(13) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -5.26472s, -5.22433s;
          animation-delay: -5.26472s, -5.22433s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-2;
          animation-name: ani1,ani2-2;
}
.box span:nth-child(14) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -4.96525s, -4.49047s;
          animation-delay: -4.96525s, -4.49047s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-1;
          animation-name: ani1,ani2-1;
}
.box span:nth-child(15) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -5.86429s, -6.41529s;
          animation-delay: -5.86429s, -6.41529s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-1;
          animation-name: ani1,ani2-1;
}
.box span:nth-child(16) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.73547s, -4.57984s;
          animation-delay: -3.73547s, -4.57984s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-1;
          animation-name: ani1,ani2-1;
}
.box span:nth-child(17) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.70377s, -5.3463s;
          animation-delay: -3.70377s, -5.3463s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-3;
          animation-name: ani1,ani2-3;
}
.box span:nth-child(18) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -4.01742s, -7.16408s;
          animation-delay: -4.01742s, -7.16408s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-1;
          animation-name: ani1,ani2-1;
}
.box span:nth-child(19) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -5.55022s, -4.15525s;
          animation-delay: -5.55022s, -4.15525s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-3;
          animation-name: ani1,ani2-3;
}
.box span:nth-child(20) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.48575s, -6.76885s;
          animation-delay: -3.48575s, -6.76885s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-2;
          animation-name: ani1,ani2-2;
}
.box span:nth-child(21) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.27717s, -4.33728s;
          animation-delay: -3.27717s, -4.33728s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-2;
          animation-name: ani1,ani2-2;
}
.box span:nth-child(22) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -5.92844s, -6.40165s;
          animation-delay: -5.92844s, -6.40165s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-3;
          animation-name: ani1,ani2-3;
}
.box span:nth-child(23) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -5.34471s, -7.02746s;
          animation-delay: -5.34471s, -7.02746s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-3;
          animation-name: ani1,ani2-3;
}
.box span:nth-child(24) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.37424s, -6.41539s;
          animation-delay: -3.37424s, -6.41539s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-1;
          animation-name: ani1,ani2-1;
}
.box span:nth-child(25) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.25486s, -5.24712s;
          animation-delay: -3.25486s, -5.24712s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-2;
          animation-name: ani1,ani2-2;
}
.box span:nth-child(26) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.7731s, -5.50964s;
          animation-delay: -3.7731s, -5.50964s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-2;
          animation-name: ani1,ani2-2;
}
.box span:nth-child(27) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.27274s, -5.88752s;
          animation-delay: -3.27274s, -5.88752s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-3;
          animation-name: ani1,ani2-3;
}
.box span:nth-child(28) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -5.6797s, -5.51523s;
          animation-delay: -5.6797s, -5.51523s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-2;
          animation-name: ani1,ani2-2;
}
.box span:nth-child(29) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.89367s, -5.41087s;
          animation-delay: -3.89367s, -5.41087s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-3;
          animation-name: ani1,ani2-3;
}
.box span:nth-child(30) {
  -webkit-animation-duration: 3s,4s;
          animation-duration: 3s,4s;
  -webkit-animation-iteration-count: infinite,infinite;
          animation-iteration-count: infinite,infinite;
  -webkit-animation-fill-mode: forwards,forwards;
          animation-fill-mode: forwards,forwards;
  -webkit-animation-delay: -3.86994s, -7.36524s;
          animation-delay: -3.86994s, -7.36524s;
  /* @if $i>=20 {
  	@extend %bgp1;
  	animation-name: ani1,ani2-1;
  }@else if $i>=10{
  	@extend %bgp2;
  	animation-name: ani1,ani2-2;
  }@else{
  	@extend %bgp3;
  	animation-name: ani1,ani2-3;
  } */
  -webkit-animation-name: ani1,ani2-1;
          animation-name: ani1,ani2-1;
}

@-webkit-keyframes ani1 {
  0% {
    opacity: 0;
  }
  50%,100% {
    opacity: 1;
  }
}

@keyframes ani1 {
  0% {
    opacity: 0;
  }
  50%,100% {
    opacity: 1;
  }
}
@-webkit-keyframes ani2-1 {
  100% {
    -webkit-transform: translate3d(300px, -700px, 0);
            transform: translate3d(300px, -700px, 0);
  }
}
@keyframes ani2-1 {
  100% {
    -webkit-transform: translate3d(300px, -700px, 0);
            transform: translate3d(300px, -700px, 0);
  }
}
@-webkit-keyframes ani2-2 {
  100% {
    -webkit-transform: translate3d(350px, -700px, 0);
            transform: translate3d(350px, -700px, 0);
  }
}
@keyframes ani2-2 {
  100% {
    -webkit-transform: translate3d(350px, -700px, 0);
            transform: translate3d(350px, -700px, 0);
  }
}
@-webkit-keyframes ani2-3 {
  100% {
    -webkit-transform: translate3d(400px, -700px, 0);
            transform: translate3d(400px, -700px, 0);
  }
}
@keyframes ani2-3 {
  100% {
    -webkit-transform: translate3d(400px, -700px, 0);
            transform: translate3d(400px, -700px, 0);
  }
}
