@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

/**
 * 思路：
 * 		1、大小随机，且有'区间'范围
 * 		2、透明度随机
 * 		3、出现点位置随机
 * 		4、消失点位置随机且透明度变成0
 * 		5、雪花旋转落下随机
 */
.snow-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.snow-wrap span {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.6);
}
.snow-wrap span:nth-child(1) {
  width: 2.52072px;
  height: 2.52072px;
  left: 43.53497%;
  top: -30px;
  opacity: 0.56966;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 5.40516s;
          animation-duration: 5.40516s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.75704s;
          animation-delay: 0.75704s;
}
.snow-wrap span:nth-child(2) {
  width: 2.9955px;
  height: 2.9955px;
  left: 79.23355%;
  top: -30px;
  opacity: 0.73133;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 6.03376s;
          animation-duration: 6.03376s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1.54678s;
          animation-delay: 1.54678s;
}
.snow-wrap span:nth-child(3) {
  width: 4.52335px;
  height: 4.52335px;
  left: 67.03013%;
  top: -30px;
  opacity: 0.60157;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 5.38304s;
          animation-duration: 5.38304s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -0.34934s;
          animation-delay: -0.34934s;
}
.snow-wrap span:nth-child(4) {
  width: 1.75231px;
  height: 1.75231px;
  left: 23.37089%;
  top: -30px;
  opacity: 0.11738;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 4.84939s;
          animation-duration: 4.84939s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1.03186s;
          animation-delay: 1.03186s;
}
.snow-wrap span:nth-child(5) {
  width: 5.49404px;
  height: 5.49404px;
  left: 5.23467%;
  top: -30px;
  opacity: 0.00008;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.63622s;
          animation-duration: 7.63622s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -0.62273s;
          animation-delay: -0.62273s;
}
.snow-wrap span:nth-child(6) {
  width: 1.39512px;
  height: 1.39512px;
  left: 53.23172%;
  top: -30px;
  opacity: 0.53233;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.98559s;
          animation-duration: 7.98559s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -0.17564s;
          animation-delay: -0.17564s;
}
.snow-wrap span:nth-child(7) {
  width: 4.58117px;
  height: 4.58117px;
  left: 6.29646%;
  top: -30px;
  opacity: 0.16633;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 5.31447s;
          animation-duration: 5.31447s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.06426s;
          animation-delay: 0.06426s;
}
.snow-wrap span:nth-child(8) {
  width: 1.21777px;
  height: 1.21777px;
  left: 56.14013%;
  top: -30px;
  opacity: 0.35811;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.55425s;
          animation-duration: 7.55425s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -1.82824s;
          animation-delay: -1.82824s;
}
.snow-wrap span:nth-child(9) {
  width: 3.60393px;
  height: 3.60393px;
  left: 73.74228%;
  top: -30px;
  opacity: 0.02824;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 4.29647s;
          animation-duration: 4.29647s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1.66001s;
          animation-delay: 1.66001s;
}
.snow-wrap span:nth-child(10) {
  width: 3.18574px;
  height: 3.18574px;
  left: 84.76975%;
  top: -30px;
  opacity: 0.88804;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.35933s;
          animation-duration: 7.35933s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.32734s;
          animation-delay: 0.32734s;
}
.snow-wrap span:nth-child(11) {
  width: 2.35471px;
  height: 2.35471px;
  left: 47.52201%;
  top: -30px;
  opacity: 0.8325;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.02638s;
          animation-duration: 7.02638s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.37757s;
          animation-delay: 0.37757s;
}
.snow-wrap span:nth-child(12) {
  width: 5.46922px;
  height: 5.46922px;
  left: 0.46695%;
  top: -30px;
  opacity: 0.54943;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.98723s;
          animation-duration: 7.98723s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -1.95487s;
          animation-delay: -1.95487s;
}
.snow-wrap span:nth-child(13) {
  width: 1.99448px;
  height: 1.99448px;
  left: 85.73354%;
  top: -30px;
  opacity: 0.84571;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.76886s;
          animation-duration: 7.76886s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -0.20602s;
          animation-delay: -0.20602s;
}
.snow-wrap span:nth-child(14) {
  width: 1.64454px;
  height: 1.64454px;
  left: 7.14157%;
  top: -30px;
  opacity: 0.14762;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.50661s;
          animation-duration: 7.50661s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.95966s;
          animation-delay: 0.95966s;
}
.snow-wrap span:nth-child(15) {
  width: 3.04604px;
  height: 3.04604px;
  left: 20.76893%;
  top: -30px;
  opacity: 0.01749;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.77411s;
          animation-duration: 7.77411s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -1.71803s;
          animation-delay: -1.71803s;
}
.snow-wrap span:nth-child(16) {
  width: 3.29959px;
  height: 3.29959px;
  left: 9.78887%;
  top: -30px;
  opacity: 0.05985;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 5.07287s;
          animation-duration: 5.07287s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -0.43166s;
          animation-delay: -0.43166s;
}
.snow-wrap span:nth-child(17) {
  width: 4.45062px;
  height: 4.45062px;
  left: 16.84895%;
  top: -30px;
  opacity: 0.39476;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.11838s;
          animation-duration: 7.11838s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1.76385s;
          animation-delay: 1.76385s;
}
.snow-wrap span:nth-child(18) {
  width: 1.30419px;
  height: 1.30419px;
  left: 76.25231%;
  top: -30px;
  opacity: 0.65396;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 5.13952s;
          animation-duration: 5.13952s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -0.6463s;
          animation-delay: -0.6463s;
}
.snow-wrap span:nth-child(19) {
  width: 1.8272px;
  height: 1.8272px;
  left: 27.69065%;
  top: -30px;
  opacity: 0.76791;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.8863s;
          animation-duration: 7.8863s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -0.84601s;
          animation-delay: -0.84601s;
}
.snow-wrap span:nth-child(20) {
  width: 1.59591px;
  height: 1.59591px;
  left: 3.28626%;
  top: -30px;
  opacity: 0.79545;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 5.64444s;
          animation-duration: 5.64444s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1.77859s;
          animation-delay: 1.77859s;
}
.snow-wrap span:nth-child(21) {
  width: 5.43662px;
  height: 5.43662px;
  left: 49.56737%;
  top: -30px;
  opacity: 0.45925;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 6.80759s;
          animation-duration: 6.80759s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.21557s;
          animation-delay: 0.21557s;
}
.snow-wrap span:nth-child(22) {
  width: 2.9414px;
  height: 2.9414px;
  left: 88.24899%;
  top: -30px;
  opacity: 0.80758;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.76399s;
          animation-duration: 7.76399s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -1.26094s;
          animation-delay: -1.26094s;
}
.snow-wrap span:nth-child(23) {
  width: 1.78997px;
  height: 1.78997px;
  left: 3.65917%;
  top: -30px;
  opacity: 0.25831;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 5.29142s;
          animation-duration: 5.29142s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -0.27439s;
          animation-delay: -0.27439s;
}
.snow-wrap span:nth-child(24) {
  width: 5.63974px;
  height: 5.63974px;
  left: 90.17091%;
  top: -30px;
  opacity: 0.46685;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 6.86659s;
          animation-duration: 6.86659s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -1.26865s;
          animation-delay: -1.26865s;
}
.snow-wrap span:nth-child(25) {
  width: 5.59218px;
  height: 5.59218px;
  left: 90.95756%;
  top: -30px;
  opacity: 0.00863;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 4.12853s;
          animation-duration: 4.12853s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -0.34187s;
          animation-delay: -0.34187s;
}
.snow-wrap span:nth-child(26) {
  width: 1.35559px;
  height: 1.35559px;
  left: 36.93759%;
  top: -30px;
  opacity: 0.10618;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.58586s;
          animation-duration: 7.58586s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -0.69772s;
          animation-delay: -0.69772s;
}
.snow-wrap span:nth-child(27) {
  width: 5.06905px;
  height: 5.06905px;
  left: 28.07393%;
  top: -30px;
  opacity: 0.6534;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 7.91264s;
          animation-duration: 7.91264s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 1.82315s;
          animation-delay: 1.82315s;
}
.snow-wrap span:nth-child(28) {
  width: 4.33592px;
  height: 4.33592px;
  left: 13.50028%;
  top: -30px;
  opacity: 0.74751;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 5.40091s;
          animation-duration: 5.40091s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -1.48593s;
          animation-delay: -1.48593s;
}
.snow-wrap span:nth-child(29) {
  width: 1.27578px;
  height: 1.27578px;
  left: 99.39044%;
  top: -30px;
  opacity: 0.03535;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 6.01696s;
          animation-duration: 6.01696s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -1.3905s;
          animation-delay: -1.3905s;
}
.snow-wrap span:nth-child(30) {
  width: 4.20958px;
  height: 4.20958px;
  left: 6.79145%;
  top: -30px;
  opacity: 0.28159;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: 4.21527s;
          animation-duration: 4.21527s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: -0.53877s;
          animation-delay: -0.53877s;
}

@-webkit-keyframes fadeOut {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(800px);
            transform: translateY(800px);
  }
}

@keyframes fadeOut {
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(800px);
            transform: translateY(800px);
  }
}
