<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input type="text" name="" id="" v-model="val" /><br />
      <dl class="list">
        <dt>filter-未过滤</dt>
        <dd v-for="item in list" :key="item.id" v-cloak>{{ item.name }}</dd>
        <dt>filter-过滤</dt>
        <dd v-for="item in search(val)" :key="item.id" v-cloak>
          {{ item.name }}
        </dd>
      </dl>
      <p>过滤</p>
      <p v-cloak>{{ msg | filterMsg1 }}</p>
      <p v-cloak>{{msg | filterMsg2('骚', 'sao')}}</p>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.21/vue.min.js"></script>
    <script>
      Vue.filter("filterMsg1", msg => {
        return msg.replace(/骚年/g, "**");
      });
      Vue.filter("filterMsg2", (msg, target, result) => {
        return msg.replace(/target/g, result);
      });
      const vm = new Vue({
        el: "#app",
        data: {
          msg: "一位骚年曾经说过，骚年之所以是骚年...",
          val: "",
          list: [
            {
              id: 1,
              name: "苹果"
            },
            {
              id: 2,
              name: "香蕉"
            }
          ]
        },
        methods: {
          search(val) {
            let _list = this.list.filter(item => {
              return item.name.includes(val);
            });
            return _list;
          }
        },
        mounted() {
          console.log(this.list);
        }
      });
    </script>
  </body>
</html>
