@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
html,body{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #000;
	overflow: hidden;
}
/**
 * 思路：
 * 		1、大小随机，且有'区间'范围
 * 		2、透明度随机
 * 		3、出现点位置随机
 * 		4、消失点位置随机且透明度变成0
 * 		5、雪花旋转落下随机
 */
.snow-wrap{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	span{
		position: absolute;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0 0 2px 2px rgba(255,255,255,0.6);
		$m : 1px;
		@for $i from 1 through 30 {
			$w : random() * 5;
			&:nth-child(#{$i}){
				width: $w + $m;
				height: $w + $m;
				left: random() * 100%;
				top: -30px;
				opacity: random();
				animation-name: fadeOut;
				animation-duration: random() * 4 + 4s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-fill-mode: both;
				animation-delay: - random() * 4 + 2s;
			}
		}
	}
	i{}
}
@keyframes fadeOut{
	80%{
		opacity: 0;
	}
	100%{
		opacity: 0;
		transform: translateY(800px);
	}
}